@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* Box sizing rules and box-model reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Add smooth scolling by default */
html {
  scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  --main-container-max-width: 1600px;
  --main-container-relative-width: 90%;
  width: min(var(--main-container-max-width), var(--main-container-relative-width));
  margin-inline: auto;
}

.hero {
  position: relative;
  min-height: 500px;
}
@media (min-width: 900px) {
  .hero {
    min-height: 100vh;
  }
}
.hero__image {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 4em;
}

.hero__nav > nav {
  display: flex;
  align-items: center;
  gap: 2em 3em;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 900px) {
  .hero__nav > nav .btn-primary {
    background-color: hsl(0, 0%, 100%);
  }
}

.hamburger-icon {
  transition: 300ms opacity;
}
.hamburger-icon:hover, .hamburger-icon--active {
  opacity: 0.5;
  cursor: pointer;
}
@media (min-width: 900px) {
  .hamburger-icon {
    display: none;
  }
}

@media (max-width: 899.9px) {
  .hero__nav {
    position: relative;
  }
  .hero__nav > nav {
    position: absolute;
    top: 4em;
    right: 0;
    flex-direction: column;
    width: 90vw;
    padding: 2em 1em;
    background-color: white;
    color: hsl(232, 10%, 55%);
  }
  .hero__nav > nav::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    aspect-ratio: 1;
    background-color: inherit;
    translate: 0 -100%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  .hero__nav > nav:not(:has(+ .hamburger-icon--active)) {
    display: none;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  font-family: Fraunces, serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.175em;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 900px) {
  .hero__title {
    font-size: 3rem;
  }
}

.what-we-do__cta-text {
  padding-block: 4em;
  text-align: center;
}
@media (min-width: 900px) {
  .what-we-do__cta-text {
    padding-block: 6em;
  }
}
.what-we-do__cta-title {
  margin-bottom: 1em;
  font-family: Fraunces, serif;
  font-size: 1.75rem;
}
.what-we-do__cta-description {
  margin-bottom: 1em;
  color: hsl(232, 10%, 55%);
}
.what-we-do__cta-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.what-we-do__sectors-card {
  display: grid;
  grid-template-areas: "a";
  align-items: end;
}
.what-we-do__sectors-card > * {
  grid-area: a;
}
@media (max-width: 899.9px) {
  .what-we-do__sectors-card {
    min-height: 700px;
  }
}
.what-we-do__sectors-text {
  padding-block: 4em;
  text-align: center;
  color: hsl(167, 40%, 24%);
}
.what-we-do__sectors-title {
  margin-bottom: 1em;
  font-family: Fraunces, serif;
  font-size: 1.75rem;
}
.what-we-do__sectors-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 900px) {
  :where(.what-we-do__cta, .what-we-do__sectors) .main-container {
    --main-container-relative-width: 70%;
  }
}

@media (min-width: 900px) {
  .what-we-do__cta,
  .what-we-do__sectors {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
  }
  .what-we-do__cta:nth-child(odd) > img {
    order: 1;
  }
}
.btn {
  padding: 0.75em 1.25em;
  font-family: Fraunces, serif;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 100vmax;
}
.btn-primary {
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
}
.btn-cta {
  --_background-color-underline: currentColor;
  position: relative;
  isolation: isolate;
  padding: 0;
  font-family: Fraunces, serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn-cta--yellow {
  --_background-color-underline: hsl(51, 100%, 49%);
}
.btn-cta--pink {
  --_background-color-underline: hsl(7, 99%, 70%);
}
.btn-cta::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 110%;
  height: 8px;
  background-color: var(--_background-color-underline);
  opacity: 0.6;
  translate: -50% 0;
  border-radius: 100vmax;
}

/*# sourceMappingURL=main.css.map */
